<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBProvider" value="System.Data.SqlClient"/>
  </appSettings>
  <connectionStrings>
    <!--SqlServer设置-->
    <add name="ConnectionString" connectionString="Server=127.0.0.1;Database=RdfDb;User ID=sa;Password=sh.123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
